<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_form">
  <tr>
	<td width="30%" class="table_title">分组名称：</td>
	<td width="70%"><input name="group" type="text" class="text" placeholder="如：测试环境" value="<%=group%>"></td>
  </tr>
  <tr>
	<td class="table_title">hosts列表：</td>
	<td>
	<textarea name="list" cols="" rows="" class="textarea" style="width:300px; height:220px;" placeholder="如：192.168.1.1 www.2fz1.com"><%=list%></textarea>
	</td>
  </tr>
</table>