<div class="dialog jqmWindow">
	<div class="dialog_title"><h3></h3><a href="#" class="dialog_close jqmClose"></a></div>
    <div class="dialog_con">

    </div>
    <div class="dialog_bar clearfix" style="display:none;">
    	<button class="btn btn_g" id="dialog_ok"><span class="icon-ok"></span>确定</button>
        <button class="btn btn_i jqmClose"><span class="icon-cancel"></span>取消</button>
    </div>
</div>