<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_form">
  <tr>
	<td width="30%" class="table_title">服务器地址：</td>
	<td width="70%"><input name="domain" type="text" class="text" placeholder="如：pet.oa.com，不要加http://" value="<%=domain%>"></td>
  </tr>
  <tr>
	<td class="table_title">服务器IP：</td>
	<td><input name="ip" type="text" class="text" placeholder="[可选]如：10.12.17.125" value="<%=ip%>"></td>
  </tr>
  <tr>
	<td class="table_title">文件路径</td>
	<td><input name="path" type="text" class="text" placeholder="如：/static/hosts_conf.json" value="<%=path%>"></td>
  </tr>
</table>